@{

    if (TempData.ContainsKey("snsId") && (long)TempData["snsId"] != 0)
    {
       <script>
            alert("사이트 회원가입이 필요합니다.");
       </script>
    }
    else if(TempData.ContainsKey("idx") && (long)TempData["idx"] != 0)
    {
        <script>
            alert("기존 회원입니다. 로그인을 진행해주세요.");
            window.location.href="https://www.workflow.com/workflow/login/index"
        </script>
    }

    


}


@{
    Layout = "~/Areas/WorkFlow/Views/Shared/_LoginLayout.cshtml";
}



<div class="main-wrap">
    <header>
        <div class="logo-wrap">
            <h2>작업 일정 공유 사이트</h2>
        </div>
    </header>
    
    <section class="Easy-sgin-in-wrap">
        <h2>간편 회원가입</h2>
        <ul class="sign-button-list">
            <li><a href="./KakaoSignUp"><img src="~/Common/img/kakao_signup(300px X 45px).png" style="width:300px; height:45px; text-align:center;" /></a></li>
            <li><a href="./twitterSignUp"><img src="~/Common/img/twitter_signup(300px X 45px).png" style="width:300px; height:45px;" /></a></li>
        </ul>

    </section>


</div>
