@{

    if (Session["idx"] == null)
    {
        <script>
            alert("사이트 로그인이 필요합니다.");
            window.location.href = "https://www.workflow.com/workflow/login/index"
        </script>
    }


}


@{
    Layout = "~/Areas/WorkFlow/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <header>
        <div class="logo-wrap">
            <h2>작업 일정 공유 사이트</h2>
        </div>
    </header>


</div>
